@model Product

<div class="product-details-inner">
    <div class="row">
       
            
        <div class="col-lg-5">
            <div class="product-large-slider mb-20">
                @foreach (var image in Model.ProductImages)
                {
                    <div class="pro-large-img img-zoom">
                        <img src="~/assets/img/product/@image.ImageUrl" alt="product thumb" />
                    </div>
                }
            </div>
            <div class="pro-nav slick-row-5">
                @foreach (var image in Model.ProductImages)
                {
                    <div class="pro-nav-thumb">
                        <img src="~/assets/img/product/@image.ImageUrl" alt="product thumb" />
                    </div>
                }
            </div>
        </div>

        <div class="col-lg-7">
            <div class="product-details-des">
                <h3 class="pro-det-title">@Model.ProductName</h3>
                <div class="pro-review">
                    <span><a href="#">1 Review(s)</a></span>
                </div>
                <div class="price-box">
                  @*   Old price olmaya biler *@


                    <span class="regular-price">@Model.Price</span>
                    <span class="old-price"><del>@Model.OldPrice</del></span>
                </div>
                <p>@Model.Desc</p>
                <div class="quantity-cart-box d-flex align-items-center mb-20">
                    <div class="quantity">
                        <div class="pro-qty">
                            <input type="text" value="1" />
                        </div>
                    </div>
                    <a href="cart.html" class="btn btn-default">Add To Cart</a>
                </div>
                <div class="availability mb-20">
                    <h5 class="cat-title">Availability:</h5>
                    @if (Model.Count <= 0)
                    {
                        <span class="text-danger">Stok bitib</span>
                    }
                    else if (Model.Count <4)
                    {
                        <span class ="text-warning">Bitmək üzrədi</span>
                    }
                    else
                    {
                        <span >In Stock</span>
                    }
                </div>
 <div class="product-options mb-20">
            <div class="row">
                <!-- Reng Dropdown -->
                <div class="col-md-6">
                    <div class="product-colors mb-20">
                        <h5 class="cat-title">Colors:</h5>
                        <select class="form-control">
                            @foreach (var productColor in Model.ProductColors)
                            {
                                <option value="@productColor.Color.ColorId">
                                    @productColor.Color.ColorName
                                </option>
                            }
                        </select>
                    </div>
                </div>

                <!-- Beden Dropdown -->
                <div class="col-md-6">
                    <div class="product-sizes mb-20">
                        <h5 class="cat-title">Sizes:</h5>
                        <select class="form-control">
                                    @foreach (var productSize in Model.ProductSizes)
                                    {
                                        <option value="@productSize.Size.SizeId">
                                            @productSize.Size.SizeName
                                        </option>
                                    }
                        </select>
                    </div>
                </div>
            </div>
        </div>

                <div class="share-icon">
                    <h5 class="cat-title">Share:</h5>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

