@model Juan.ViewModels.HomeVM

<div class="container">
    <div class="row">
        <div class="col-12">
            @if (Model.Settings != null && Model.Settings.Any())
            {
                <div class="section-title text-center">
                    @foreach (var setting in Model.Settings)
                    {
                        @if (setting.Key == "Selected")
                        {
                            <h2 class="title">@setting.Value</h2>
                        }
                        else if (setting.Key == "SelectedDesc")
                        {
                            <p class="sub-title">@setting.Value</p>
                        }
                    }
                </div>
            }

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="product-carousel-4 mbn-50 slick-row-15 slick-arrow-style">
                <!-- product single item start -->
                @foreach (var product in Model.SelectedProducts)
                {

                    <div class="product-item mb-50">
                        <div class="product-thumb">

                            <a asp-controller="product" asp-action="detail" asp-route-id="@product.ProductId">                           

                                <img src="~/assets/img/product/@product.Img" alt="" />
                                </a>
                            
                        </div>
                        <div class="product-content">
                            <h5 class="product-name">
                                <a href="@product.ProductId">@product.ProductName</a>
                            </h5>
                            <div class="price-box">
                                <span class="price-old"><del>@product.OldPrice</del></span>
                                <span class="price-regular">@product.Price</span>
                            </div>
                            <div class="product-action-link">
                                <a href="#" data-toggle="tooltip" title="Wishlist">
                                    <i class="ion-android-favorite-outline"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" title="Add To Cart">
                                    <i class="ion-bag"></i>
                                </a>
                                <a asp-controller="product" asp-action="ProductModal" asp-route-id="@product.ProductId" class="productModal" data-toggle="modal" data-target="#quick_view">
                                    <span data-toggle="tooltip" title="Quick View">
                                        <i class="ion-ios-eye-outline"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- product single item start -->
                }


            </div>
        </div>
    </div>
</div>