@model Juan.ViewModels.ProductDetailViewModel

<h1>@Model.ProductName</h1>

<h3>Colors and Sizes</h3>
<table class="table">
    <thead>
        <tr>
            <th>Color</th>
            <th>Size Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var color in Model.Colors)
        {
            <tr>
                <td>@color.ColorName</td>
                <td>@color.SizeCount</td>
            </tr>
        }
    </tbody>
</table>

<table class="table"> 
    <thead>
        <tr>
            <th>Size</th>
            <th>Color Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var size in Model.Sizes)
        {
            <tr>
                <td>@size.SizeName</td>
                <td>@size.ColorCount</td>
            </tr>
        }
    </tbody>
</table>

<h3>Total Quantity: @Model.TotalQuantity</h3>
