﻿
@model AppUser

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@Model.UserName</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Info about @Model.UserName</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Id</td>
                        <td>@Model.Fullname</td>
                        <th>@Model.Email</th>
                        <td class="@(Model.IsBlocked ? "text-danger" : "text-success")">@(Model.IsBlocked ? "blocked" : "active")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>